/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Oxygen', sans-serif;
   font-size: 100%;
   background:#fff; 
}
.header_top{
	background:#000;
	
	position: relative;
}
.header_top_left{
	float:left;
}
.header_top_right{
	float:right;
	width:23%;
}
.header_top_left p{
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 8px;
}
.lang_list{
	float: left;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	width: 38%;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width: 75px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 8px 15px 5px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover,
.dropdown.focus{
	/*--background:#F7F7F7;--*/
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:-1px;
	top: 50%;
	margin-top:0px;
	border: 4px solid transparent;
	border-top: 4px solid #c1c1c1;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}
.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}
.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	font-size:11px;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight:400;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	background:#fb4d01;
	overflow: hidden;
	opacity: 0;
	color:#fff;
	width:90px;
}
.dropdown:hover div{
	background:#4CB1CA;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding:0;
	background:#fd926d;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding:8px;
	border-bottom: 1px solid #ee4a02;
}
.dropdown li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.dropdown li.focus{
	background:#dd6b44;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	background:#ee4a02;
	color: #fff;
}
ul.header_user_info {
	float: left;
	border-right: 1px solid #555;
	width:50%;
}
ul.header_user_info a{
	color:#fff;
}
ul.header_user_info a:hover{
	color:#fd926d;
}
ul.header_user_info a:hover{
	text-decoration:none;
	color:#fd926d;
}
i.user{
	width: 17px;
	height: 17px;
	background: url(../images/img-sprite.png) no-repeat -2px -5px;
	float: left;
	margin:6px 10px 0 5px;
}
ul.header_user_info li.user_desc{
	display: block;
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
	/* background: #fb5c22; */
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	float: left;
	margin-top:8px;
}
.search-box {
	position: relative;
}
.sb-search {
	position: absolute;
	top:0px;
	right:0px;
	width: 0%;
	min-width: 30px;
	height: 28px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#555;
	width: 100%;
	height: 28px;
	margin: 0;
	z-index: 10;
	padding: 5px 10px;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width:30px;
	height:28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #333 url('../images/search.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
  	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #FFF;
	background: #000 url('../images/search.png') no-repeat 7px 4px;
	z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:100%;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
.header_bottom {
	padding: 2em 0;
}
.logo {
	float: left;
	margin-top: 16px;
}
/* start h_menu */
.header_bottom_right{
	float:right;
	width:53%;
}
.h_menu4{
	float:left;
	margin-right: 2%;
	margin-top: 12px;
}
.toggleMenu {
    display: none;
	background:#fd926d;
	width: 100%;
	color: #FFF;
	font-size: 1.5em;
}
.nav {
    list-style: none;
     *zoom: 1;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
	width: 13em;
	border-bottom:5px solid #fd926d;
	z-index:888;
}
.nav li a {
	display: block;
	padding: 10px 15px;
	color: #555;
	font-size: 0.85em;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration: none;
}
.nav li a:hover {
	background:#fd926d;
	color:#fff;
}
.nav li {
    position: relative;
}
.nav > li > a.parent{
	background: url(../images/arrow.png) no-repeat 15px 16px;
	padding: 10px 10px 10px 30px;
}
.nav > li > a.parent:hover{
	background: url(../images/arrow_h.png) no-repeat 15px 16px #fd926d;
	padding: 10px 10px 10px 30px;
}
.nav > li {
    float:left;
}
.nav > li.hover > ul {
    left:-1px;
    top:40px;
}
.nav li li.hover ul {
    left: 100%;
   -webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition:  background .2s linear;
	transition: background .2s linear;
}
.nav > li > li > a{
	font-size: 0.85em;
	padding: 10px 20px;
	display: block;
	color: #555;
	background: #fff;
	position: relative;
	z-index: 9999;
	font-weight: normal;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 100%;
	text-decoration: none;
	margin: 0;
	text-transform: lowercase;
}
.nav li li {
	border-top:none;
}
.nav li li:hover{
	border-top:none;
}
.nav li li a{
	text-transform: capitalize;
	font-size:0.85em;
	border-top: 1px solid #e8ebf1;
	border-left: 1px solid #e8ebf1;
	border-right: 1px solid #e8ebf1;
}
.nav li li a:hover{
	color:#000;
}
.nav > li >  ul {
    position: absolute;
    left: -9999px;
    padding: 0;
    z-index: 9999;
    background:#fff;
}
/***** Media Quries *****/
@media screen and (max-width:800px) {
	.h_logo4{
		text-align:center;
		float: none;
		margin: 4% 0;
	}
	/*--.h_menu4{
		float: none;
	}--*/
	.toggleMenu {
		padding: 5px 10px;
		width: 100%;
	}
	.nav li a {
		padding: 10px 15px;
	}
	.nav {
		background:#fff;
	}
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 64% 50% !important;
    }
   .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
}
@media screen and (max-width: 640px) {
	.toggleMenu {
		width:100%;
	}
}
@media screen and (max-width: 480px) {
	.toggleMenu {
		width:100%;
	}
}
@media screen and (max-width: 320px) {
	.toggleMenu {
		width:100%;
	}
}
.shopping_cart {
	float: left;
	width: 30%;
}
ul.shopping_cart_top{
	padding: 5px 10px;
	list-style: none;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
ul.shopping_cart_top li.shop_left{
	float: left;
	margin-right: 54%;
	font-size: 0.8125em;
	color: #999;
	font-weight: 600;
}
ul.shopping_cart_top li.shop_right{
	float:left;
}
ul.shopping_cart_top li.shop_right img {
	vertical-align: baseline;
}
ul.shopping_cart_top:hover li.shop_left{
	color:#fd926d;
}
ul.shopping_bag{
	padding:4px 10px;
	list-style:none;
	border:1px solid #ddd;
	background:#fafafa;
}
ul.shopping_bag li.bag_left{
	float:left;
	margin-right: 35%;
}
ul.shopping_bag li.bag_right{
	float: left;
	font-size: 11px;
	text-transform: uppercase;
	color: #999;
	font-weight: 600;
	margin-top: 6px;
}
ul.shopping_bag:hover li.bag_right{
	color:#fd926d;
}
/*--slider--*/
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.caption{
	width: 56%;
	position: absolute;
	top: 35%;
	left: 20%;
	text-align:center;
}
.caption h3{
	color: #FFF;
	font-weight: 700;
	font-size: 1.8em;
	text-transform: uppercase;
}
.caption p{
	color: #FFF;
	line-height: 1.5em;
	font-size: 0.875em;
	text-align: center;
	margin:1em 0 1.5em 0;
}
a.morebtn{
	background:#3D3D3D;
	padding:0.8em 0;
	display:block;
	font-size:0.875em;
	text-transform:uppercase;
	color:#FFF;
	width:20%;
	margin:0 auto;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
a.morebtn:hover{
	background:#585686;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	border: 2px solid #867a76;
}
.callbacks_here a:after{
	border: 2px solid #fd926d;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 13px;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:117px;
  width:30px;
  background: transparent url("../images/arrows.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
 }
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
	.caption {
		width: 63%;
		top: 31%;
		left: 19%;
	}
}
@media(max-width:768px){
	.caption {
		width: 70%;
		top: 22%;
		left: 13%;
	}
	.caption h3{
		font-size:1.5em;
	}
	a.morebtn {
		width: 26%;
	}
	.callbacks_nav {
	  	top: 55%;
	 }
}
@media(max-width:640px){
	.caption {
		width: 70%;
		top: 12%;
		left: 13%;
	}
	.caption h3{
		font-size:1.5em;
	}
	a.morebtn {
		width: 30%;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
}
@media(max-width:480px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 60%;
	 }
	.caption p{
		height:25px;
		overflow:hidden;
		margin:0.5em 0;
	}
	.caption h3{
		font-size:1.4em;
	}
	a.morebtn {
		width: 40%;
		font-size:0.8em;
	}
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media(max-width:320px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 63%;
	 }
	.caption p{
		height:25px;
		overflow:hidden;
		margin:0.2em 0;
	}
	.caption h3{
		font-size:1em;
	}
	a.morebtn {
		width: 50%;
		font-size: 0.8em;
		padding:0.6em 0.5em; 
	}
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
.column_center{
	background:#ededed;
	margin:3em 0;
}
.search {
	position: relative;
	float:left;
	margin-top: 10px;
}
.search input[type="text"] {
	padding: 8px 10px;
	outline: none;
	color: #999;
	background: #fff;
	border: none;
	width: 87.22%;
	line-height: 1.5em;
	font-size: 0.8125em;
	font-style: italic;
}
.search input[type="password"] {
	padding: 8px 10px;
	outline: none;
	color: #999;
	background: #fff;
	border: none;
	width: 87.22%;
	line-height: 1.5em;
	font-size: 0.8125em;
	font-style: italic;
}
.search input[type="submit"] {
	background: url('../images/plus.png') no-repeat 10px 10px #fd926d;
	padding: 5px 17px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	border-bottom: 4px solid #dd6b44;
}
.search input[type="submit"]:hover{
	background: url('../images/plus.png') no-repeat 10px 10px #4fafa0;
	border-bottom: 4px solid #0E8673;
}
ul.social {
	padding: 0;
	list-style: none;
	float:right;
}
ul.social li {
	float: left;
}
ul.social li.find{
	margin: 17px 20px 0 0;
	font-size: 0.85em;
	color: #555;
}
ul.social li a i {
	width: 55px;
	height: 55px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat #f7f7f7;
}
ul.social li a i.fb{
	background-position:-18px 14px;
}
ul.social li a i.tw {
	width: 50px;
	height: 50px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -56px 15px #ededed;
}
ul.social li a i:hover {
	opacity:0.8;
}
ul.social li a i.dribble{
	background-position:-99px 13px;
}
.stay {
	float: left;
	font-size: 0.85em;
	margin:8px 10px 0 0;
	color: #555;
}
.stay_right{
	float:left;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 4em 0 2em;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 35%;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color:#000;
	font-size: 1em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width:24.3333%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #4fafa0;
}
.resp-tab-active{
	background:#fd926d;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
	font-size: 1em;
	text-transform: uppercase;
	padding: 10px;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_img{
	padding:0;
	list-style:none;
	position: relative;
	background:#fd926d;
	padding:2em 0;
}
ul.tab_img li {
	float: left;
	width: 15%;
	margin-right: 2%;
}
ul.tab_img li.last{
	margin-right:0;
}
.tab_desc{
	background:#f7f7f7;
	padding:1em 0;
	list-style:none;
	text-align:center;
}
.tab_desc h3, .tab_desc1 h3{
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 3px;
}
.tab_desc h3 a, .tab_desc1 h3 a{
	color:#555;
}
.tab_desc p, .tab_desc1 p{
	font-size:1.5em;
	color:#000;
	margin-bottom: 10px;
}
.btn1.btn-primary1{
	box-shadow: none;
	background: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 7px 10px;
	color: #FFF;
	border: none;
	letter-spacing: 0;
	text-shadow: none;
	text-decoration: none!important;
	background: #fd926d;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 0.8125em;
	border-bottom: 3px solid #dd6b44;
}
.btn1.btn-primary1>span{
	float: left;
	margin-right: 9px;
}
a.btn1.btn-primary1 img {
	vertical-align: sub;
	margin-top: 2px;
}
.view:hover .btn1.btn-primary1{
	background:#4fafa0;
	border-bottom:3px solid #0E8673;
}
.sale-box{
	position: absolute;
	top: 32px;
	overflow: hidden;
	height:50px;
	width:50px;
	background: url(../images/sale.jpg) no-repeat;
}
ul.tab_img li:hover{
	box-shadow:0 0 5px #A3A3A3;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top:5em;
   left: 3em;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
	ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background:url(../images/shop.png)no-repeat;
	width:140px;
	height:140px;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask, .view-first:hover .product_mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.brands {
	border-bottom: 1px solid rgb(208, 208, 208);
	padding:4em 0 0em;
}
.m_3, .m_4 {
	text-align: center;
	position: relative;
}
i.clearence{
	width:164px;
	height:162px;
	display: inline-block;
	background: url(../images/clearence.png) no-repeat;
}
span.left_line1 {
	height: 1px;
	width: 460px;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 1%;
	bottom: 82px;
}
span.right_line1 {
	height:1px;
	width:460px;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right:1%;
	bottom:82px;
}
ul.grid1 {
	padding: 0;
	list-style: none;
	position: relative;
	margin-top:2em;
}
ul.grid1 li {
	float: left;
	width: 23%;
	margin-right: 2.6%;
}
ul.grid1 li.grid1_last {
	margin-right:0;
}
.sale-box1{
	position: absolute;
	top:2px;
	overflow: hidden;
	height: 50px;
	width: 50px;
	background: url(../images/sale.jpg) no-repeat;
}
ul.brands_list{
	padding:0;
	list-style:none;
	margin: 1em 0;
}
ul.brands_list li{
	float: left;
	width: 12%;
}
span.left_line {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom:8px;
}
span.right_line{
	height: 1px;
	width:42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right:0;
	bottom:8px;
}
.m_3 h3{
	color:#414141;
	font-size:1em;
	text-transform:uppercase;
	font-weight:600;
}
.grid-1{
	text-align:center;
	padding:2em 0;
}
.grid-1 h1{
	color: #414141;
	font-size:1.5em;
	font-weight: 600;
}
.grid-1 p{
	color: #999;
	font-size: 0.95em;
	font-weight: 500;
	line-height:1.8em;
}
.grid-2{
	background:#f7f7f7;
	padding:1em 0;
	text-align:center;
}
.grid-2 p {
	line-height: 1.8em;
	font-size:0.85em;
	color:#999;
	font-weight: 500;
}
.grid-2 p img{
	display:inline-block;
	margin-left: 10px;
}
/*--footer--*/
.footer_top{
	background:#ededed;
	padding:3em 0;
}
.grid-3 h3{
	color: #414141;
	font-size: 1.1em;
	font-weight: 600;
}
ul.footer_list, ul.footer_social{
	padding:0;
	list-style:none;
}
ul.footer_list li a{
	color: #777;
	font-size: 0.8125em;
	font-weight: 500;
	line-height: 1.8em;
}
ul.footer_list li a:hover{
	text-decoration:none;
	color:#fd926d;
}

ul.footer_social li:first-child {
	margin-left: 0;
}
ul.footer_social li {
	display: inline-block;
	margin-right: 5px;
}
ul.footer_social li a i {
	width: 40px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
ul.footer_social li a i.tw1{
	background-position: -3px -39px;
}
ul.footer_social li a i.db1{
	background-position:-45px -39px;
}
ul.footer_social li a i.fb1{
	background-position:-88px -39px;
}
ul.footer_social li a i.g1{
	background-position:-3px -86px;
}
ul.footer_social li a i.thumb{
	background-position:-47px -86px;
}
ul.footer_social li a i.vimeo{
	background-position:-95px -86px;
}
ul.footer_social li a i:hover{
	opacity:0.8;
}
.footer_bottom{
	background:#000;
	padding:1em 0;
}
.cssmenu {
	float:left;
	color: #999;
	font-size: 0.8125em;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #999;
	display: block;
	margin: 10px;
}
.cssmenu ul li a:hover{
	text-decoration:none;
	color:#fd926d;
}
.copy {
	float:right;
	margin-top: 12px;
}
.copy p {
	color:#999;
	font-size: 0.8125em;
}
.copy p a{
	color:#fd926d;
}
/*--products--*/
ul.breadcrumbs {
	padding:5px 0;
	list-style: none;
	border-top: 1px solid rgb(208, 208, 208);
	border-bottom: 1px solid rgb(208, 208, 208);
}
ul.breadcrumbs li {
	display: inline-block;
	font-size: 0.8125em;
	color: #000;
}
ul.breadcrumbs li a img{
	vertical-align: baseline;
}
span.red{
	color: #fd926d;
}
/***** Slider *****/
.product_banner {
	background: #fff;
}
.products_top {
	padding: 2em 0;
}
.banner-wrap {
	padding: 1em 0 0;
	border-bottom: 1px solid rgb(208, 208, 208);
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	min-height: 485px;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
.banner_left {
	float: left;
	width:50%;
}
.banner_right {
	float: left;
	width: 44%;
	margin-top: 5em;
}
.banner_right h1{
	color:#4a4a4a;
	font-size:1.5em;
	font-weight:600;
}
p.p1{
	color:#fd926d;
	font-size:2em;
	font-weight:bold;
}
p.p2{
	color:#999;
	font-size:0.8125em;
	line-height:1.5em;
	padding: 2em 0;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right: 46%;
	bottom: 5px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	background:#867a76;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}
.wmuSliderPagination a.wmuActive {
	background:#fd926d;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:43%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position:-150px -4px;
	left: 0;
}
.wmuSliderNext {
	background-position:-189px -4px;
	right: 0px;
}
a.btn1.btn2.btn-primary1 {
	padding: 15px 25px;
	font-size:0.85em;
	font-weight:100;
}
a.btn1.btn2.btn-primary1 img {
	vertical-align: sub;
	margin-top: 3px;
}
a.btn1.btn2.btn-primary1:hover{
	background:#4fafa0;
	border-bottom:3px solid #0E8673;
}
.mens-toolbar {
	border-bottom: 1px solid rgb(190, 190, 190);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
	margin-top: 5px;
}
.sort-by {
	color: #000;
	font-size: 0.8125em;
}
.sort-by label {
	font-weight: normal;
}
.pages {
	float: right;
}
ul.dc_pagination.dc_paginationA.dc_paginationA06 {
	padding: 0;
	list-style: none;
	float: left;
}
ul.dc_pagination li:first-child {
	margin-left: 0px;
	text-transform: uppercase;
}
ul.dc_pagination li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	background: #f4f4f4;
}
ul.dc_pagination li a {
	color: #000;
	display: block;
	padding: 7px 12px;
	text-decoration: none;
	font-size: 0.8125em;
}
ul.dc_pagination li a:hover{
	color:#fd926d;
}
ul.dc_paginationA06 li a.current {
	background: url(../images/pr_arrow.png) no-repeat 9px 5px;
	display: inline-block;
	width: 31px;
	height: 27px;
}
.limiter.visible-desktop {
	float: left;
	margin: 3px 20px 0;
}
.limiter.visible-desktop label{
	font-size:0.8125em;
	color:#000;
	font-weight: 500;
}
ul.grid-4{
	padding: 0;
	list-style: none;
	position: relative;
}
ul.grid-4 li {
	float: left;
	width: 30.6666%;
	margin-right: 4%;
}
ul.grid-4 li.grid-4_last {
	margin-right: 0;
}
.tab_desc1{
	background:#f9f5f4;
	padding: 1em 0;
	list-style: none;
	text-align: center;
}
.view-first .product_mask {
	ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background: url(../images/shop.png)no-repeat;
	width: 140px;
	height: 140px;
}
.view .product_mask,.view .content {
   position: absolute;
   overflow: hidden;
   top:5.5em;
   left: 3.5em;
}
.product_box1{
	margin-bottom:2em;
}
h3.m_1 {
	color: #fff;
	font-size: 0.85em;
	padding: 8px 10px;
	background: #000;
	text-transform: uppercase;
}
.metro{
	position: relative;	
	cursor: pointer;
	font-weight:600;
	background:#fff;
	color:#898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro.open{
	z-index: 2;
}
.metro:hover,
.metro.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro .selected {
    color: #96a6a7;
}
.metro .selected:hover{
	color:#e94e38;
}
.metro .selected,
.metro li{
	display: block;
	font-size:0.8125em;
	padding:8px 0px 8px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight:500;
	text-transform:uppercase;
	color:#000;
}
.metro .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding:6px;
	background:url(../images/p_plus.png) no-repeat 0px 10px;
}
.metro:hover .selected::after,
.metro.focus .selected::after{
	background:url(../images/p_minus.png) no-repeat 0px 10px;
}
/* DROP DOWN WRAPPER */
.metro div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.metro.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.metro ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
	background:#fd926d;
}
.metro.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro li{
	list-style: none;
	padding: 6px 10px;
	font-size:0.85em;
	font-weight: 400;
	text-transform: lowercase;
}
.metro li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.metro li:hover{
	background-color:#DD3E27;
}
.metro li.focus{
	background:#DD3E27;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.metro li.active{
    background-color:#dd6b44;
	color: #fff;
}
ul.size {
	padding: 0;
	list-style: none;
	margin:2em 0 3em;
}
ul.size h3 {
	color: #555;
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1em;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size:12px;
	background:#f4f4f4;
	padding:8px 10px;
}
ul.size li a:hover{
	text-decoration:none;
	color:#fff;
	background:#fd926d;
}
ul.grid_1{
	padding: 0;
	list-style: none;
	border-bottom: 1px solid rgb(226, 226, 226);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
ul.grid_1 li.grid_1-img{
	float: left;
	width:34%;
	margin-right: 4%;
}
ul.grid_1 li.grid_1-desc{
	float:left;
	width:62%;
}
ul.grid_1 li.grid_1-desc h4{
	margin-bottom: 5px;
	font-size: 0.85em;
	font-weight: 500;
	text-transform: uppercase;
}
ul.grid_1 li.grid_1-desc h4 a{
	color: #000;
}
ul.grid_1 li.grid_1-desc h4 a:hover{
	color:#fd926d;
	text-decoration:none;
}
ul.grid_1 li.grid_1-desc p{
	font-size:1.1em;
	font-weight:bold;
	color:#fd926d;
}
.sale_grid{
	margin-bottom: 2em;
}
/*--single--*/
.images_3_of_2 {
	width: 26.2%;
	float: left;
	margin-right: 2.6%;
}
.desc1 {
	display: block;
	float:left;
}
.span_3_of_2 {
	width: 70.3333%;
}
.single_top {
	margin:3em 0;
}
ul.back{
	padding:0;
	list-style:none;
	margin-bottom:1em;
	border-bottom:1px solid rgb(208, 208, 208);
	padding-bottom:1em;
}
ul.back li{
	font-size:0.8125em;
	color:#999;
}
ul.back li a{
	color:#ffa687;
}
i.back_arrow{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -154px -50px;
}
.span_3_of_2 h1{
	color:#4a4a4a;
	font-size:1.5em;
	font-weight:600;
}
ul.price_single{
	padding:0;
	list-style:none;
	margin: 1em 0;
}
ul.price_single li.head{
	float:left;
}
ul.price_single li.head h2{
	color: #fd926d;
	font-size: 2.5em;
	font-weight: bold;
}
ul.price_single li.head_desc{
	float:right;
	margin-top: 15px;
}
ul.price_single li.head_desc a{
	font-size:0.8125em;
	color:#999;
	margin-right: 1em;
}
.span_3_of_2 p{
	color:#999;
	font-size:0.85em;
	line-height:1.8em;
}
.metro1{
	position: relative;	
	cursor: pointer;
	font-weight:600;
	background:#f4f4f4;
	color:#000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro1.open{
	z-index: 2;
}
.metro1:hover,
.metro1.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro1 .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro1 select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro1.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro1 .selected {
    color:#000;
}
.metro1 .selected,
.metro1 li{
	display: block;
	font-size:0.8125em;
	padding:10px 0px 10px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight:500;
	text-transform:uppercase;
}
.metro1 .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 18px;
	background: url(../images/img-sprite.png) no-repeat -184px -40px #e5e5e5;
}
.metro1:hover .selected::after,
.metro1.focus .selected::after{
	background:url(../images/img-sprite.png) no-repeat -184px -40px #fd926d;
}
/* DROP DOWN WRAPPER */
.metro1 div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#fd926d;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.metro1.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro1.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro1.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.metro1 ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
}
.metro1.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro1 li{
	list-style: none;
	padding: 6px 10px;
	font-size:0.85em;
	font-weight: 400;
}
.metro1 li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.metro1 li:hover{
	background-color:#DD3E27;
}
.metro1 li.focus{
	background:#DD3E27;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.metro1 li.active{
    background-color:#ff9f00;
	color: #fff;
}
.dropdown_top{
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin: 2em 0;
}
.dropdown_left{
	float:left;
	width:35%;
}
ul.color_list {
	padding:0;
	list-style:none;
	float:right;
	margin-top: 7px;
}
ul.color_list li {

display:inline-block;
}
span.color1 {
	background:#efebe2;
	padding: 5px 14px;
}
span.color2 {
	background:#c9c1c6;
	padding: 5px 14px;
}
span.color3 {
	background:#b29b88;
	padding: 5px 14px;
}
span.color4 {
	background:#968886;
	padding: 5px 14px;
}
span.color5 {
	background:#cde0ef;
	padding: 5px 14px;
}
.single_social_top{
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin:3em 0;
}
ul.single_social{
	list-style: none;
	width:88%;
	margin: 0 auto;
}
ul.single_social li{
	display:inline-block;
	margin-right:14%;
}
ul.single_social li.last{
	margin-right:0;
}
ul.single_social li a i {
	width: 55px;
	height: 53px;
	float:left;
	background: url(../images/img-sprite.png)no-repeat;
	margin-right: 10px;
}
ul.single_social li a i.s_fb {
	background-position:-2px -137px;
}
ul.single_social li a i.s_pin {
	background-position:-62px -138px;
}
ul.single_social li a i.s_twt {
	background-position:-125px -137px;
}
ul.single_social li a i.s_email {
	background-position:-188px -137px;
}
.social_desc{
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	margin-top: 8px;
}
ul.single_social li a{
	color: #000;
}
ul.single_social li a:hover {
	display: block;
	color:#fd926d;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
}
ul.menu li.item1{
	background:#ffd5c6;
}
ul.menu li.item1 img, ul.menu li.item2 img, ul.menu li.item3 img, ul.menu li.item4 img, ul.menu li.item5 img{
	margin: -3px 10px 0 0;
}
ul.menu li.item2{
	background:#ffcab8;
}
ul.menu li.item3{
	background:#ffae92;
}
ul.menu li.item4{
	background:#ffa687;
}
ul.menu li.item5{
	background:#fd926d;
}
ul {
	padding: 0;
	list-style: none;
}
.menu > li > a {
	width: 100%;
	height: 4em;
	line-height: 4em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}
.menu ul li a {
	background: #fff;
	width: 100%;
	height: 5em;
	line-height: 1.8em;
	display: block;
	position: relative;
	font-size:0.85em;
	font-weight: 400;
	color: #878d95;
}
.menu > li > a:hover, .menu > li > a.active {
	background:#fd926d;
}
.m_4{
	margin:3em 0 1em;
}
.m_4 p{
	color:#000;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
}
span.left_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom: 10px;
}
span.right_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 0;
	bottom: 10px;
}
/*--contact--*/
.contact-form input[type="text"] {
	display: block;
	width: 100%;
	padding: 15px;
	outline: none;
	margin:0 0 1.5em;
	font-size: 0.85em;
	color: #888;
	background: #fff;
	border: 1px solid #DFDDDD;
}
.contact-form input[type="password"] {
	display: block;
	width: 100%;
	padding: 15px;
	outline: none;
	margin:0 0 1.5em;
	font-size: 0.85em;
	color: #888;
	background: #fff;
	border: 1px solid #DFDDDD;
}
.contact-form textarea {
	display: block;
	background:#fff;
	height: 150px;
	width:100%;
	padding:15px;
	margin: 1em 0;
	border: 1px solid #DFDDDD;
	outline: none;
	color: #888;
	font-size:0.85em;
}
.contact-form input[type="submit"] {
	background:#fd926d;
	padding: 10px;
	display: inline-block;
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	cursor: pointer;
	outline: none;
	width: 100%;
}
.contact-form input[type="submit"]:hover{
	background:#000;
}
.contact{
	margin:5em 0;
	min-height:500px;
}
.contact_top{
	margin-bottom:4em;
}
.map iframe {
	min-height:300px;
	width: 100%;
	border: none;
}
.contact_grid h3 {
	color: #fd926d;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
}
.contact_grid p {
	font-size: 0.85em;
	color: #989A96;
	line-height: 1.8em;
}
.contact_address{
	margin-bottom:2em;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color: #fd926d;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 0.8em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#fd926d;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #555;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
}
.login-right input[type="password"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
}
.login-right input[type="submit"] {
	background:#fd926d;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover{
	background:#000;
}
a.forgot {
	font-size: 0.8125em;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#fd926d;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#fd926d;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*--responsive design--*/
@media (max-width:1366px){
.srch button {
	right:100px;
}
.header_top_right {
	width: 25%;
}
.main-search {
	bottom: -81px;
	right: 109px;
}
.view .mask, .view .content {
	top: 3.5em;
	left: 2em;
}
}
@media (max-width:1280px){
.srch button {
	right: 56px;
}	
.main-search {
	bottom: -75px;
	right: 58px;
}
.view-first .mask {
	width: 90px;
	height: 90px;
	background-size: 98%;
}
.view .mask, .view .content {
	top: 4.5em;
	left: 3em;
}
.resp-tabs-list {
	width: 40%;
}
.header_bottom_right {
	width: 65%;
}
}
@media (max-width:1024px){
.header_top_right {
	width: 29%;
}	
.srch button {
	right: 33px;
}
.header_bottom_right {
	width: 64%;
}
.resp-tabs-list {
	width: 50%;
}
.resp-tab-item {
	font-size: 0.85em;
}
.btn1.btn-primary1 {
	font-size: 12px;
}
a.btn1.btn-primary1 img {
	margin-top: 1px;
}
.tab_desc h3, .tab_desc1 h3 {
	font-size: 0.8125em;
}
.tab_desc p, .tab_desc1 p {
	font-size: 1.3em;
}
.view-first .mask {
	width: 90px;
	height: 90px;
	background-size: 90%;
}
.view .mask, .view .content {
	top: 4em;
	left: 2.5em;
}
i.clearence {
	width: 100px;
	height: 98px;
	background-size: 100%;
}
span.left_line1, span.right_line1{
	width: 390px;
	bottom: 53px;
}
.view-first .product_mask {
	width: 100px;
	height: 100px;
	background-size: 100%;
}
.view .product_mask, .view .content {
	top: 5em;
	left: 3em;
}
.banner_right {
	margin-top: 2em;
}
.span_3_of_2 {
	width: 63.3333%;
}
.images_3_of_2 {
	width: 33.2%;
}
ul.single_social li {
	margin-right: 10%;
}
.main-search {
	bottom: -66px;
	right: 27px;
	padding-bottom: 3.5em;
}
.main-search input[type="text"] {
	background: none;
	padding: 5px;
}
.main-search input[type="password"] {
	background: none;
	padding: 5px;
}
.main-search input[type="submit"] {
	top: 6px;
	right: 0px;
}
.wmuSlider {
	min-height: 425px;
}
.callbacks_nav {
	margin-top: -60px;
}
ul.size li {
	margin: 0 7px 0 0;
}
.header_bottom_right {
	width: 64%;
}
}
@media (max-width:990px){
.shopping_cart {
	display: none;
}	
}
@media (max-width:800px){
.header_top_right {
	width:35%;
}
.shopping_cart {
	display:block;
}	
.srch button {
	right: 24px;
}
.main-search {
	bottom: -64px;
	right: 26px;
	padding-bottom: 3.5em;
}
ul.shopping_cart_top li.shop_left {
	margin-right: 30%;
}
ul.shopping_bag li.bag_left {
	margin-right: 10%;
}
.header_bottom_right {
	width:70%;
}
.resp-tabs-list {
	width: 56%;
}
span.left_line1, span.right_line1 {
	width: 285px;
	bottom: 53px;
}
.images_3_of_2 {
	width: 42.2%;
}
.span_3_of_2 {
	width: 54.3333%;
}
ul.single_social li {
	margin-right: 3%;
}
.login-right {
	padding: 0px !important;
	margin-top: 3em;
}
.contact_left{
	margin-bottom:3em;
}
.btn1.btn-primary1 {
	font-size: 10px;
}
a.btn1.btn-primary1 img {
	margin-top: 0;
}
.btn1.btn-primary1 {
	padding: 7px 6px;
}
.view .mask, .view .content {
	top: 2em;
	left: 1.1em;
}
a.btn1.btn2.btn-primary1 {
	padding: 10px 15px;
	font-size: 0.8125em;
}
p.p2 {
	padding: 1em 0;
}
.banner_right {
	margin-top: 1em;
}
.wmuSlider {
	min-height: 385px;
}	
.product_right{
	margin-top:7em;
}
.h_menu4 {
	float: left;
	width: 62%;
	text-align: center;
}
}
@media (max-width:768px){
a:hover, a:focus {
	color: #fff;
	text-decoration: none;
}
.nav > li > a.parent {
	padding: 10px 10px 10px 10px;
}
.shopping_cart {
	width:35%;
}
.grid-1 p {
	font-size: 0.8125em;
}
.srch button {
	right: 14px;
}
.main-search {
	bottom: -63px;
	right: 16px;
}
.main-search input[type="text"] {
	font-size: 12px;
}
.main-search input[type="password"] {
	font-size: 12px;
}
.main-search input[type="submit"] {
	top: 4px;
}
span.left_line, span.right_line{
	width: 38%;
}
ul.footer_social li {
	margin-right:0;
}
.footer_bottom {
	text-align:center;
}
.cssmenu {
	float: none;
}
.copy {
	float: none;
	margin-top: 0px;
}
.span_3_of_2 p {
	font-size: 0.8125em;
}
ul.price_single li.head h2 {
	font-size: 2em;
}
.span_3_of_2 h1 {
	font-size: 1.3em;
}
ul.price_single li.head_desc {
	margin-top: 8px;
}
ul.price_single {
	margin:0;
}
.menu ul li a {
	font-size: 0.8125em;
}
span.left_line2, span.right_line2{
	width: 38%;
}
.header_bottom {
	padding: 1em 0;
}
.callbacks_nav {
	margin-top:-70px;
}
}
@media (max-width:640px){
.header_top_right {
	width:46%;
}	
ul.shopping_cart_top li.shop_left {
	margin-right: 15%;
}
.shopping_cart {
	width:41%;
}
.h_menu4 {
	width:56%;
	margin-top: 15px;
}
.toggleMenu {
	font-size: 1.2em;
}
.column_center {
	margin: 2em 0;
}
.resp-tab-item {
	font-size: 0.8125em;
}
.resp-tabs-list {
	width: 65%;
}
.resp-tab-item {
	padding: 5px 10px;
}
.sap_tabs {
	padding: 2em 0 2em;
}
ul.tab_img li {
	width: 31%;
	margin: 0 1% 2% 1%;
}
.view .mask, .view .content {
	top: 5.2em;
	left: 3.5em;
}
i.clearence {
	width: 80px;
	height: 80px;
	background-size: 100%;
}
span.left_line1, span.right_line1 {
	width: 235px;
	bottom: 45px;
}
.footer_top {
	text-align: center;
}
.grid-3 {
	margin-bottom: 1em;
}
.wmuSlider {
	min-height: 425px;
}
.mens-toolbar .sort {
	width: 25.5%;
}
.view .product_mask, .view .content {
	top: 4em;
	left: 2.4em;
}
}
@media (max-width:480px){
.header_top_right {
	width: 48%;
}	
ul.shopping_cart_top li.shop_left {
	font-size: 12px;
}
ul.shopping_bag {
	padding: 4px 5px;
}
.h_menu4 {
	width:59%;
}
.shopping_cart {
	width: 39%;
}
ul.social, .search{
	float: none;
}
.search{
	margin-bottom:1em;
}
.view .mask, .view .content {
	top: 3.2em;
	left: 1.8em;
}
span.left_line1, span.right_line1 {
	width: 160px;
}
span.left_line, span.right_line {
	width: 30%;
}
.banner_left {
	float: none;
	width: 100%;
}
.banner_right {
	float:none;
	width:100%;
}
.wmuSlider {
	min-height: 685px;
}
.mens-toolbar .sort {
	width:100%;
	float:none;
}
.pages {
	float: none;
}
.limiter.visible-desktop {
	margin: 3px 20px 0 0;
}
.cssmenu ul li a {
	margin:3px 3px;
}
.copy{
	margin-top:1em;
}
.product_right{
	margin-top:2em;
}
}
@media (max-width:430px){
.shopping_cart {
	display:none;
}
.header_bottom_right {
	width: 30%;
}
.h_menu4 {
	width: 100%;
}
.header_top_left {
	display: none;
}
.header_top_right {
	width: 100%;
}
.header_bottom {
	padding: 0 0 1em;
}
}
@media (max-width:320px){
.header_top_left {
	display: none;
}	
.header_top_right {
	width: 100%;
}
.shopping_cart {
	display: none;
}
.header_bottom_right {
	width: 80%;
}
.logo {
	float:left;
}
.logo img{
	width:80%;
}
.header_bottom_right {
	width: 35%;
	float: right;
}
ul.footer_social li a i.vimeo {
	display: none;
}
.h_menu4 {
	width: 100%;
}
.tab_desc h3, .tab_desc1 h3 {
	font-size: 11px;
}
.tab_desc p, .tab_desc1 p {
	font-size: 1em;
}
.btn1.btn-primary1 {
	font-size: 9px;
}
.btn1.btn-primary1>span {
	margin-right: 2px;
}
.view .mask, .view .content {
	display: none;
}
h2.resp-accordion {
	font-size: 0.85em;
	padding: 7px;
}
i.clearence {
	width: 55px;
	height: 55px;
	background-size: 105%;
}
span.left_line1, span.right_line1 {
	width: 90px;
	bottom: 30px;
}
.sap_tabs {
	padding: 2em 0 0em;
}
ul.grid1 li {
	width: 47%;
}
.brands {
	padding: 2em 0 0em;
}
.m_3 h3 {
	font-size: 0.85em;
}
span.left_line, span.right_line {
	width: 24%;
}
.toggleMenu {
	font-size: 1em;
}
.banner_right h1 {
	font-size: 1.2em;
}
p.p1 {
	font-size: 1.5em;
}
.wmuSlider {
	min-height: 620px;
}
.col-md-9 {
	padding: 0;
}
.view .product_mask, .view .content {
	display: none;
}
.btn1.btn-primary1 {
	padding: 6px 5px;
}
.contact {
	margin: 3em 0;
}
.contact-form input[type="text"] {
	padding: 10px;
}
.contact-form input[type="password"] {
	padding: 10px;
}
.contact-form input[type="submit"]{
	font-size:0.85em;
}
.contact_top {
	margin-bottom: 2em;
}
}